data/logs.json
data/problems/*
data/avatar/*
!data/avatar/avt.default
!data/avatar/*.php
!data/problems/problem.php
!data/problems/thumbnail.default
data/xmldb/account.xml
.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
log.txt